@import "../Variables/Variables.scss";

.planSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

    h2{
        @include titletext(60px);
    }

    >:nth-child(2){
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bigBox{
            height: 502px;
            width: 363px;
            background-color: $primaryColor;
            
            @include planBoxStyle();
        }

        .smallBox{
            height: 421px;
            width: 363px;
            background-color: $neutralLightColor;

            @include planBoxStyle();
            color: $neutralDarkColor;
        }
    }

}